
<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">


  <!-- Social icons -->
  <div class="pb-2 mt-5 pt-5">
    {{ if $.Site.Params.github }}
      <a href="{{ $.Site.Params.github }} " target="_blank" rel="noopener"><i class="fab fa-github mr-3" aria-hidden="true"></i></a>    
    {{ end }}

    {{ if $.Site.Params.gitlab }}
       <a href="{{ $.Site.Params.gitlab }}" target="_blank" rel="noopener"><i class="fab fa-gitlab mr-3" aria-hidden="true"></i></a>    
    {{ end }}

    {{ if $.Site.Params.linkedin }}
      <a href="{{ $.Site.Params.linkedin }}" target="_blank" rel="noopener"><i class="fab fa-linkedin-in mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.facebook }}
      <a href="{{ $.Site.Params.facebook }}" target="_blank" rel="noopener"><i class="fab fa-facebook-f mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.googleplus }}
    <a href="{{ $.Site.Params.googleplus }}" target="_blank" rel="noopener"><i class="fab fa-google-plus-g mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.twitter }}
        <a href="{{ $.Site.Params.twitter }}" target="_blank" rel="noopener"><i class="fab fa-twitter mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.instagram }}
        <a href="{{ $.Site.Params.instagram }}" target="_blank" rel="noopener"><i class="fab fa-instagram mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.medium }}
        <a href="{{ $.Site.Params.medium }}" target="_blank" rel="noopener"><i class="fab fa-medium pr-1" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.px500 }}
        <a href="{{ $.Site.Params.px500 }}" target="_blank" rel="noopener"><i class="fab fa-500px mr-3" aria-hidden="true"></i></a>
    {{ end }}


    {{ if $.Site.Params.email }}
        <a href="mailto:{{ $.Site.Params.email }}"><i class="far fa-envelope-open mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if and $.Site.Params.include_rss $.RSSLink }}
        <a href="{{ $.RSSLink }}"><i class="fas fa-rss mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if and $.Site.Params.i18n_flags $.IsTranslated }}
        {{ range .Translations }}
            <a href="{{ .Permalink }}"><img class="icon flag mr-3" src="{{ $.Site.BaseURL }}img/flags/{{ $.Lang }}.svg"></a>
        {{ end }}
    {{ end }}

  </div>
  <!-- Social icons -->

  <div class="copyright py-4">
    <!-- <span>  2016 - {{ now.Year }} &copy; | Theme <a href='https://github.com/orianna-zzo/AllinOne' target="_blank">AllinOne</a> by <a href='https://github.com/orianna-zzo' target="_blank">Orianna</a>  </span> -->
    <span>It is not down on any map; true places never are. -- Moby Dick by Sensi Seeds</span>
  </div> 

</footer>
<!--/.Footer-->
