<div class="post-wrapper white-bg post-card">
  
  <a href="{{ .Permalink }}">
    <div class="post-header text-center">
      <div class="px-4 post-heading">{{ .Title }}</div>
      <ul class="post-meta li-x mt-1">
        {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
          <li>{{ .Date.Format .Site.Params.dateform }}</li>
        {{ else }}
          <li>{{ .Date.Format "Jan 2, 2006" }}</li>
        {{ end }}
    
        {{ if not .Site.Params.noshowreadtime }}
          <li class="middot"></li>
          <li>{{ i18n "readingTime" .ReadingTime }}</li>
        {{ end }}
      </ul>
    </div>
    {{ with .Params.img }}
    
      <div class="view">
        <img src="{{ . | absURL }}" />
      </div>
    {{ end }}

    {{ if .Params.summary }}
      {{ .Params.summary| plainify | htmlUnescape  }}
    {{ else }}
      {{ .Summary | plainify | htmlUnescape }}......
    {{ end }}
  </a>

  
  
  <div class="post-meta li-x mt-2 div-x">
    <div>
      {{ if .Params.categories }}
        {{ range .Params.categories }}
          <li><a href="{{ "categories/" | absLangURL }}{{ . | urlize }}"><i class="fas fa-folder-open pr-1" aria-hidden="true"></i> {{ . }} </a></li>
        {{ end }}
      {{ end }}
      {{ if .Params.series }}
        {{ range .Params.series }}
          <li><a href="{{ "series/" | absLangURL }}{{ . | urlize }}"><i class="fas fa-bookmark pr-1" aria-hidden="true"></i>{{ . }}</a></li>
        {{ end }}
      {{ end }}
    </div>
   
    <div>
      {{ if .Params.tags }}
        {{ partial "tags.html" . }}
      {{ end }}
    </div>

  </div>

</div>
