

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- jquery -->
<script type="text/javascript" src="{{ "js/vendors/jquery/jquery-3.3.1.min.js" | absURL }}"></script><!-- <script>window.jQuery || document.write('<script src="dist/js/vendors/jquery-slim.min.js"><\/script>')</script> -->
<script type="text/javascript" src="{{ "js/vendors/jquery/jquery.smooth-scroll.min.js" | absURL }}"></script>
<!-- /.jquery -->


<script type="text/javascript" src="{{ "js/vendors/popper.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/vendors/holder.min.js" | absURL }}"></script>
<script type="text/javascript" src="{{ "js/vendors-extensions/bootstrap4/bootstrap.js" | absURL }}" ></script>

<script type="text/javascript" src="{{ "js/vendors/mdb/mdb.min.js" | absURL }}"></script>

<script type="text/javascript" src="{{ "js/main.js" | absURL }}"></script>


<!-- Highlight -->
{{ if .Site.Params.highlightjs }}  
  <script src="{{ "js/vendors/highlight.pack.js" | absURL }}"> </script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}
<!-- /.Highlight -->

<!-- KaTeX -->
{{ if .Site.Params.katex }} 
  <script src="{{ "js/vendors/katex/katex.min.js" | absURL }}"> </script>
  <script src="{{ "js/vendors/katex/contrib/auto-render.min.js" | absURL }}"></script>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
          renderMathInElement(document.body);
      });
  </script>
{{ end }}
<!-- /.KaTeX -->


<!-- Google Analytics -->
<!-- {{ template "_internal/google_analytics_async.html" . }} -->

<!-- XXX: Not sure why isn't working, so I hardcoded GA here -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79505389-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79505389-1');
</script>


<!-- mdb -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>



