{{ define "main" }}
  <!-- Main layout -->
  <main class="post-main-wrapper">
    <div class="container">
      <div class="content">
        <div class="post-heading" style="font-family: 'Raleway';">404</div>
        <div class="py-4"><i class="far fa-frown-open mr-2"></i> pagE N0t founD </div>
        <img name="mockingbob" src="/img/mockingspongebob.jpg" width='800px'/>

      </div>
    </div>

  </main>
  <!-- /.Main layout -->
{{ end }}